:root {
    --primary-text-color: #434455;
    --akcent-color: #2E2F42;
    --background-main: #FFFFFF;
    --background-button: #4D5AE5;
    --color-text-footer: #F4F4FD;
    --hover-focus: #404bbf;
}

body {
    color: var(--primary-text-color);
    background-color: var(--background-main);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.logo-studio {
    color: var(--akcent-color);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo {
    color: var(--background-button);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.title {
    color: var(--akcent-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.item-studio {
    color: var(--akcent-color);
    list-style: none;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.item-studio:hover,
.item-studio:focus {
    color: var(--hover-focus);
}

.contact .item-contact {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.5;
    /* font-style: normal; */
}

.contact {
    font-style: normal;
}

.item-contact:hover,
.item-contact:focus {
    color: var(--hover-focus);
}



/*hero*/
.hero {
    background-color: var(--akcent-color);
}

.hero-title {
    color: var(--background-main);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.hero-btn {
    color: var(--background-main);
    background-color: var(--background-button);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--hover-focus);
}

/*feature*/
.feature-title {
    color: var(--akcent-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

/*our work*/

/*our team*/
.team {
    background-color: var(--color-text-footer);
}

.member {
    background-color: var(--background-main);
}

.card-title {
    color: var(--akcent-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}

.card-text {
    text-align: center;
    letter-spacing: 0.02em;
}

/*footer*/
.footer-logo {
    color: var(--color-text-footer);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer {
    background-color: var(--akcent-color);

}

.footer-text {
    color: var(--color-text-footer);

}

/*portfolio*/
.project-title {
    color: var(--akcent-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.project-paragraph {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.filter-btn {
    background-color: var(--color-text-footer);
    color: var(--background-button);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--hover-focus);
    color: var(--background-main);
}